.app
  margin-top 5px
  margin-left 5px
.preview
  width 1000px
  height 330px
  padding 12px
  border 1px solid #cccccc

.preview-text
  float right
  width 400px
  height 300px

.preview-title
  color #434579
  font-size 45px
  margin-bottom 10px

.preview-desc
  font-size 13px

.preview-img
  width 561px
  height 300px
  float left

.thumbnails
  clear both
  cursor pointer

.thumbail
  width 248px
  padding 6px
  margin 1px
  border 1px solid #cccccc
  float left

.thumbail-img
  width 234px
  height 125px